@font-face {
	font-family: 'Century Schoolbook';
	src: url('/static/CenturySchL-Bold.eot');
	src: url('/static/CenturySchL-Bold.eot?#iefix') format('embedded-opentype'),
	     url('/static/CenturySchL-Bold.woff2') format('woff2'),
	     url('/static/CenturySchL-Bold.woff') format('woff'),
	     url('/static/CenturySchL-Bold.ttf') format('truetype'),
	     url('/static/CenturySchL-Bold.svg#century_schoolbook_lbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Century Schoolbook';
	src: url('/static/CenturySchL-BoldItal.eot');
	src: url('/static/CenturySchL-BoldItal.eot?#iefix') format('embedded-opentype'),
	     url('/static/CenturySchL-BoldItal.woff2') format('woff2'),
	     url('/static/CenturySchL-BoldItal.woff') format('woff'),
	     url('/static/CenturySchL-BoldItal.ttf') format('truetype'),
	     url('/static/CenturySchL-BoldItal.svg#century_schoolbook_lBdIt') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Century Schoolbook';
	src: url('/static/CenturySchL-Ital.eot');
	src: url('/static/CenturySchL-Ital.eot?#iefix') format('embedded-opentype'),
	     url('/static/CenturySchL-Ital.woff2') format('woff2'),
	     url('/static/CenturySchL-Ital.woff') format('woff'),
	     url('/static/CenturySchL-Ital.ttf') format('truetype'),
	     url('/static/CenturySchL-Ital.svg#century_schoolbook_litalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Century Schoolbook';
	src: url('/static/CenturySchL-Roma.eot');
	src: url('/static/CenturySchL-Roma.eot?#iefix') format('embedded-opentype'),
	     url('/static/CenturySchL-Roma.woff2') format('woff2'),
	     url('/static/CenturySchL-Roma.woff') format('woff'),
	     url('/static/CenturySchL-Roma.ttf') format('truetype'),
	     url('/static/CenturySchL-Roma.svg#century_schoolbook_lroma') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  src: url('/static/inconsolata-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'),
       url('/static/inconsolata-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/inconsolata-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/inconsolata-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/static/inconsolata-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/inconsolata-v16-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}
/* inconsolata-700 - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: bold;
  src: url('/static/inconsolata-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Inconsolata Bold'), local('Inconsolata-Bold'),
       url('/static/inconsolata-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/inconsolata-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/inconsolata-v16-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/static/inconsolata-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/inconsolata-v16-latin-700.svg#Inconsolata') format('svg'); /* Legacy iOS */
}
html, body {
	margin: 0;
	height: 100%;
}
h1 {
	margin-top: .3em;
	text-align: center;
}
h1, h2, h3, h4 {
	font-weight: 100;
}
pre, code {
	font-family: 'Inconsolata', 'monospace';
}
.toc_post {
	margin-bottom: 1em;
}
.toc_post > * {
	margin: 0;
}
.toc_post > * {
	display: inline;
}
.toc_post > h3 {
	margin-right: .5em;
}
.toc_post > h4:last-child {
	display: block;
}
body {
	font-family: 'Century Schoolbook', 'Times New Roman';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 60em;
}
/* footer */
body::after {
    content: '';
    height: 10px;
    display: block;
}
@media screen and (max-width: 720px) {
	body {
		width: 80%;
	}
}
pre {
	white-space: pre-wrap;
}